/*全局字间距*/
*{letter-spacing:5px}

/*背景*/
#back{
    position: absolute;
    width: 5632px;
    height: 1024px;
}


/*管线背景*/
#lineBack{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5632px;
    height: 1024px;
    background-repeat: no-repeat;
    background-size: 99% 99%;
    background-image: url("../../images/allLink/线段.png");
}



#lightPoint
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_move 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_move
{
    from  {top:640px;left: 190px}
    50% {top:640px;left:486px}
100%{ top:460px;left:740px}
}

#lightPoint2
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_move2 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_move2
{
    from  {top:188px;left:780px}
    40% {top:110px;left:940px}
    100%{ top:110px;left:1250px}
}
#lightPoint3
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_move3 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_move3
{
    from  {top:80px;left:1360px}
    60% {top:344px;left:1590px}
    100%{ top:344px;left:1820px}
}
#lightPoint4Top
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_move4Top 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_move4Top
{
    from  {top:-30px;left:2230px}
    15% {top:-90px;left:2360px}
    70%{ top:-90px;left:3250px}
    100%{ top:-5px;left:3335px}
}


#lightPoint5Top
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_move5Top 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_move5Top
{
    from  {top:20px;left:3430px}
    60% {top:20px;left:3960px}
    100%{ top:-100px;left:4100px}
}

#lightPointbottom
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom
{
    from  {top:-180px;left:1330px}
    100% {top:450px;left:1890px}
}

#lightPointbottom1
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom1 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom1
{
    from  {top:20px;left:2420px}
    30% {top:160px;left:2540px}
    60% {top:160px;left:2840px}
    100% {top:350px;left:2980px}
}

#lightPointbottom2
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom2 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom2
{
    from  {top:-90px;left:2490px}
    20% {top:-15px;left:2570px}
    100% {top:-15px;left:3850px}
}

#lightPointbottom3
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom3 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom3
{
    from {top:145px;left:3430px}
    50% {top:-90px;left:3640px}
    100% {top:-90px;left:3890px}
}

#lightPointbottom4
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom4 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom4
{
    from  {top:-350px;left:3890px}
    100% {top:-655px;left:4200px}
}

#lightPointbottom5
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom5 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom5
{
    from  {top:-319px;left:4020px}
    70% {top:-319px;left:4560px}
    100% {top:-405px;left:4680px}
}

#lightPointbottom6
{
    width: 104px;
    height: 104px;
    position:relative;
    animation:lightPoint_moveBottom6 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_moveBottom6
{
    from  {top:-519px;left:4930px}
    100% {top:-375px;left:5140px}
}

/*背景图*/
#imgBack{
    position: absolute;
    width: 5632px;
    height: 1024px;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: 99% 99%;
    background-image: url("../../images/allLink/背景.png");
}

/*建筑物*/
#imgBuliding {
    position: absolute;
    width: 5632px;
    height: 1024px;
    top: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: 99% 99%;
    background-image: url("../../images/allLink/建筑.png");
}



/*到港船只*/
#sheep_transit{
    position: absolute;
    width: 235px;
    height: 163px;
    top: 105px;
    right: 5105px;
    background-image: url("../../images/allLink/组.png");
}

/*到港船只_name*/
#sheep_transit_name{
    position: absolute;
    top: 139px;
    right: 5199px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}

/*到港船只_remark*/
#sheep_transit_remark{
    position: absolute;
    top: 142px;
    right: 5119px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}

/*到港船只_value_name*/
#sheep_transit_value_name{
    position: absolute;
    top: 196px;
    right: 5210px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*到港船只_value*/
#sheep_transit_value{
    position: absolute;
    top: 196px;
    right: 5159px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*在途船只*/
#sheep_reach{
    position: absolute;
    width: 235px;
    height: 163px;
    top: 675px;
    right: 4795px;
    background-image: url("../../images/allLink/组.png");
}

/*在途船只_name*/
#sheep_reach_name{
    position: absolute;
    top: 709px;
    right: 4880px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}

/*在途船只_remark*/
#sheep_reach_remark{
    position: absolute;
    top: 712px;
    right: 4800px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}


/*在途船只_value_name*/
#sheep_reach_value_name{
    position: absolute;
    top: 766px;
    right: 4909px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}


/*在途船只_value*/
#sheep_reach_value{
    position: absolute;
    top: 766px;
    right: 4834px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}



/*原油*/
#factoryVolume{
    position: absolute;
    width: 188px;
    height: 204px;
    top: 275px;
    right: 3895px;
    background-image: url("../../images/allLink/组_长.png");
}


/*原油_name*/
#factoryVolume_name{
    position: absolute;
    top: 310px;
    right: 3991px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
    /*不要设置行间距，这样会在撑起行距大小的padding，导致top=margin+padding*/
    /*line-height:70px;*/

}

/*原油_remark*/
#factoryVolume_remark{
    position: absolute;
    top: 313px;
    right: 3909px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}

/*原油_value*/
#factoryVolume_value_name{
    position: absolute;
    top: 357px;
    right: 3978px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    /*设置行间距缩小默认行高？*/
    line-height:30px;
}


/*原油_value*/
#factoryVolume_value{
    position: absolute;
    top: 357px;
    right: 3912px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    /*设置行间距缩小默认行高？*/
    line-height:30px;
    text-align: center;
}

/*日产量*/
#dailyOutput{
    position: absolute;
    width: 235px;
    height: 163px;
    top: 470px;
    right: 2670px;
    background-image: url("../../images/allLink/组.png");
}

/*日产量_name*/
#dailyOutput_name{
    position: absolute;
    top: 504px;
    right: 2774px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);

}

/*日产量_remark*/
#dailyOutput_remark{
    position: absolute;
    top: 507px;
    right: 2691px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}


/*日产量_value1*/
#dailyOutput_value1{
    position: absolute;
    top: 559px;
    right: 2797px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*日产量_value2*/
#dailyOutput_value2{
    position: absolute;
    top: 558px;
    right: 2721px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*化工产品日产量*/
#chemicalDailyOutput{
    position: absolute;
    width: 188px;
    height: 204px;
    top:232px;
    right: 1877px;
    background-image: url("../../images/allLink/组_长.png");
}

/*化工产品日产量_name*/
#chemicalDailyOutput_name{
    position: absolute;
    top: 259px;
    right: 1956px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);

}

/*化工产品日产量_remark*/
#chemicalDailyOutput_remark{
    position: absolute;
    top: 262px;
    right: 1874px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}


/*化工产品日产量_value1*/
#chemicalDailyOutput_value1{
    position: absolute;
    top: 299px;
    right: 1965px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*化工产品日产量_value2*/
#chemicalDailyOutput_value2{
    position: absolute;
    top: 299px;
    right: 1890px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*成品油*/
#monthlyExport{
    position: absolute;
    width: 235px;
    height: 163px;
    top: 589px;
    right: 1339px;
    background-image: url("../../images/allLink/组.png");
}

/*成品油_name*/
#monthlyExport_name{
    position: absolute;
    top: 623px;
    right: 1448px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);

}

/*成品油_remark*/
#monthlyExport_remark{
    position: absolute;
    top: 626px;
    right: 1363px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}


/*成品油_value1*/
#monthlyExport_value1{
    position: absolute;
    top: 678px;
    right: 1461px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*成品油_value2*/
#monthlyExport_value2{
    position: absolute;
    top: 680px;
    right: 1375px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*销售_汽运*/
#sell_car{
    position: absolute;
    width: 235px;
    height: 163px;
    top: 169px;
    right: 1059px;
    background-image: url("../../images/allLink/组.png");
}

/*销售_汽运_name*/
#sell_car_name{
    position: absolute;
    top: 33px;
    right: 110px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);

}

/*销售_汽运_remark*/
#sell_car_remark{
    position: absolute;
    top: 36px;
    right: 25px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}


/*销售_汽运_value1*/
#sell_car_value1{
    position: absolute;
    top: 89px;
    right: 145px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*销售_汽运_value2*/
#sell_car_value2{
    position: absolute;
    top: 90px;
    right: 40px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*销售_海运*/
#sell_ship{
    position: absolute;
    width: 235px;
    height: 163px;
    top: 209px;
    right: -590px;
    background-image: url("../../images/allLink/组.png");
}

/*销售_海运_name*/
#sell_ship_name{
    position: absolute;
    top: 33px;
    right: 110px;
    font-size:25px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);

}

/*销售_海运_remark*/
#sell_ship_remark{
    position: absolute;
    top: 36px;
    right: 25px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,215,0,1);
}


/*销售_海运_value1*/
#sell_ship_value1{
    position: absolute;
    top: 89px;
    right: 135px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

/*销售_海运_value2*/
#sell_ship_value2{
    position: absolute;
    top: 89px;
    right: 45px;
    font-size:20px;
    font-family:MicrosoftYaHei;
    font-weight:900;
    color:rgba(255,255,255,1);
    line-height:30px;
}

