<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="../../plugin/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugin/bootstrap-table/dist/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="../../plugin/layer/mobile/need/layer.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../ProjectCss/user/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../ProjectCss/user/custom.css"/>
    <link rel="stylesheet" type="text/css" href="../../ProjectCss/user/font-awesome.css"/>


</head>
<body class="cbp-spmenu-push">
<div class="main-content">


    <div id="page-wrapper">
        <div class="main-page login-page ">
            <!--<h3 class="title1">登录框</h3>-->
            <div class="widget-shadow">
                <div class="login-top">
                    <h2>大屏系统维护登录 </h2>
                </div>
                <div class="login-body">
                    <form action="/login/system"  method="post">
                        <input id="username" type="text" class="user" name="username" placeholder="Enter your user" required=""/>
                        <input id="password" type="password" name="password" class="lock" placeholder="password" required=""/>
                        <input id="submit" type="submit" name="Sign In" value="登 录">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--//footer-->
</div>

<!-- Bootstrap Core JavaScript -->
</body>
<script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/plugin/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/plugin/bootstrap-table/dist/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{/plugin/layer/mobile/layer.js}"></script>
<script th:inline="javascript">
    $(function(){

        var msg = [[${session.msg}]];
        if(msg){
            $("#username").css('border-color',"red").css('color','#000').attr('placeholder',msg);
            $("#password").css('border-color',"red").attr('placeholder','')
                .focus(function () {
                    $('#password').css('color','#A8A8A8;')
                });;
        }
    });
</script>
</html>