<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>3Dfactory</title>
    <!--外部css-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/ProjectScripts/it/it.css}">-->

    <!--外部js-->
    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>
    <script type="text/javascript"   th:src="@{/Scripts/echarts.min.js}"></script>

    <script type="text/javascript">

        // 页面跳转
       /* function turnTo(){
            window.location.href="/turnToEquipment"
        }*/
    </script>
    <style type="text/css">
        #all{background: url("../ProjectScripts/3D/all.png")}
        #vide1{left: 811px;
            position:absolute;top: 130px;width: 2000px;height: 857px;z-index:99}
        #vide2{left: 2245px;
            position:absolute;top: 130px;width: 1154px;height: 857px;z-index:99}
        #vide3{left: 3689px;
            position:absolute; top: 108px;width: 1154px;height: 857px}
    </style>

</head>
<body>
<div id="all" style="width: 5632px;height: 1024px;">
    <div style="width: 5632px;height: 1024px;">
        <div id="vide1" style="overflow: hidden">
            <video id="ob" autoplay="autoplay"   loop="loop"    style="width: 1480px;height: 825px;">
                <source src="../Video/3D/3D1.MP4" ></video>
        </div>
        <div id="vide2" >
            <!--<video id="15" autoplay="autoplay"   loop="loop"    style="width: 1480px;height: 825px;">
                <source src="../Video/3D/3D1.MP4" ></video>-->
        </div>
        <div id="vide3"></div>
    </div>
</div>
</body>

<script type="text/javascript"   th:src="@{/ProjectScripts/ERP/ERPandBI1.js}"></script>

    <script type="text/javascript"   th:src="@{/Scripts/backEffect/canvas-particle.js}"></script>   
</html>