<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>未来展望</title>
    <link rel="stylesheet" type="text/css" th:href="@{/ProjectCss/ai/ai-factory.css}">


    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>
    <script type="text/javascript"   th:src="@{/Scripts/echarts.min.js}"></script>

    <script type="text/javascript" th:src="@{/ProjectScripts/ai/three.js}"></script>
    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            if(event.keyCode == 39){
                window.location.href="/turnToEnd"
            }else if(event.keyCode == 37){
                window.location.href="/turnToToolShow"
            }
        });
    </script>

</head>
<body>
    <div class="content-all">
    </div>

    <script type="text/javascript">
        var SEPARATION = 200, AMOUNTX = 60, AMOUNTY = 60;

        var container;
        var camera, scene, renderer;

        var particles, particle, count = 0;



        var windowHalfX = 300;
        var windowHalfY = 500;

        var mouseX = -windowHalfX, mouseY = -windowHalfY;

        init();
       animate();

        function init() {

            container = document.createElement( 'div' );
            container.style.marginTop = '-1024px';
            container.style.zIndex= '200';
            document.body.appendChild( container );

            camera = new THREE.PerspectiveCamera( 75, 5632/1024, 1, 10000 );
            camera.position.z = 1000;

            scene = new THREE.Scene();

            particles = new Array();

            var PI2 = Math.PI * 2;
            var material = new THREE.ParticleCanvasMaterial( {

                color: '#156fed',
                program: function ( context ) {

                    context.beginPath();
                    context.arc( 0, 0, 1, 0, PI2, true );
                    context.fill();

                }
            } );

            var i = 0;

            for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

                for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

                    particle = particles[ i ++ ] = new THREE.Particle( material );
                    particle.position.x = ix * SEPARATION - ( ( AMOUNTX * SEPARATION ) / 2 );
                    particle.position.z = iy * SEPARATION - ( ( AMOUNTY * SEPARATION ) / 2 );
                    scene.add( particle );

                }

            }

            renderer = new THREE.CanvasRenderer();
            renderer.setSize( 5632, 1024 );
            container.appendChild( renderer.domElement );
        }




        function animate() {

            requestAnimationFrame( animate );

            render();

        }

        function render() {

            camera.position.x += ( mouseX - camera.position.x ) * .05;
            camera.position.y += ( - mouseY - camera.position.y ) * .05;
            camera.lookAt( scene.position );

            var i = 0;

            for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

                for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

                    particle = particles[ i++ ];
                    particle.position.y = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) + ( Math.sin( ( iy + count ) * 0.5 ) * 50 );
                    particle.scale.x = particle.scale.y = ( Math.sin( ( ix + count ) * 0.3 ) + 1 ) * 2 + ( Math.sin( ( iy + count ) * 0.5 ) + 1 ) * 2;

                }

            }

            renderer.render( scene, camera );

            count += 0.1;

        }
    </script>
    <div class="factory">
        <!--<div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>-->
        <div class="ai-factroy-1">

            按照“平台+应用”架构，建立智能制造平台及相关标准化体系，<br/>

        </div>
        <div class="ai-factroy-2-1">
            在数据资源整合的基础上，实现企业计划、生产执行和监控的一体化管理和优化，结合企业实际需求定制个性化应用服务<br/>
            完善提升已有信息系统，实现产供销的整体经营、生产业务协同和全流程的一体化优化
        </div>
        <!--<div class="ai-factroy-2-2">

        </div>-->




        <div class="ai-factroy-3-1">
            <ul>
                <li>
                    <span class="cricle"></span>
                    数字产业化：分享炼化行业智能制造工具、标准和方案，建设石化行业智能制造云平
                </li>
                <li>
                    <span class="cricle"></span>
                    产业数字化：完善数据库、模型库、知识库，推动区域及产业链的高效协同。
                </li>
            </ul>
       </div>
    </div>

</body>
<script type="text/javascript"   th:src="@{/ProjectScripts/ai/ai-factory.js}"></script>
</html>