<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全产业链</title>

    <!--外部css-->
    <link rel="stylesheet" type="text/css" th:href="@{/ProjectScripts/allLink/allLink.css}">

    <!--外部js-->
    <script type="text/javascript"   th:src="@{/Scripts/jquery-3.3.1.js}"></script>
    <script type="text/javascript"   th:src="@{/ProjectScripts/allLink/allLink.js}"></script>

    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            $.ajax({
                url: "/getTurnToPage",
                type: "get",
                async: false,
                data: {mapper: "/turnToAllLink"},
                success: function (data) {
                    if(event.keyCode == 39){
                        window.location.href=data[1];
                    }else if(event.keyCode == 37){
                        window.location.href=data[0];
                    }else if(event.keyCode == 27){
                        window.location.href="/";
                    }
                }
            });
        });
    </script>
</head>
<body>
<div id = "back">
<!--管道-->
<div id = "lineBack"></div>

    <!--光点-->
    <!--上方由左至右-->
    <div id = "lightPoint"></div>
    <div id = "lightPoint2"></div>
    <div id = "lightPoint3"></div>
    <div id = "lightPoint4Top"></div>
    <div id = "lightPoint5Top"></div>
    <!--下方由左至右-->
    <div id = "lightPointbottom"></div>
    <div id = "lightPointbottom1"></div>
    <div id = "lightPointbottom2"></div>
    <div id = "lightPointbottom3"></div>
    <div id = "lightPointbottom4"></div>
    <div id = "lightPointbottom5"></div>
    <div id = "lightPointbottom6"></div>


<!--背景图-->
<div id = "imgBack"></div>
<!--建筑物-->
<div id = "imgBuliding"></div>
<!--到港船只-->
<div id = "sheep_transit"></div>
    <div id = "sheep_transit_name"></div>
    <div id = "sheep_transit_remark"></div>
    <div id = "sheep_transit_value_name">运载量</div>
    <div id = "sheep_transit_value"></div>
<!--在途船只-->
<div id = "sheep_reach"></div>
    <div id = "sheep_reach_name"></div>
    <div id = "sheep_reach_remark"></div>
    <div id = "sheep_reach_value_name">运载量</div>
    <div id = "sheep_reach_value"></div>


<!--原油-->
<div id = "factoryVolume"></div>
    <div id = "factoryVolume_name"></div>
    <div id = "factoryVolume_remark"></div>
    <div id = "factoryVolume_value_name"></div>
    <div id = "factoryVolume_value"></div>

    <!--日加工量-->
    <div id = "processingDay"></div>
    <div id = "processingDay_name"></div>
    <div id = "processingDay_remark"></div>
    <div id = "processingDay_value_name"></div>
    <div id = "processingDay_value"></div>

<!--日产量-->
<div id = "dailyOutput">
</div>
    <div id = "dailyOutput_name">产量</div>
    <div id = "dailyOutput_remark"></div>
    <div id = "dailyOutput_value1"></div>
    <div id = "dailyOutput_value2"></div>
    <!--化工产品日产量-->
<div id = "chemicalDailyOutput"></div>
    <div id = "chemicalDailyOutput_name">库存量</div>
    <div id = "chemicalDailyOutput_remark"></div>
    <div id = "chemicalDailyOutput_value1"></div>
    <div id = "chemicalDailyOutput_value2"></div>
    <!--成品油-->
<div id = "monthlyExport"></div>
    <div id = "monthlyExport_name">库存量</div>
    <div id = "monthlyExport_remark"></div>
    <div id = "monthlyExport_value1"></div>
    <div id = "monthlyExport_value2"></div>
<div id = "sell_car">
    <div id = "sell_car_name">日销量</div>
    <div id = "sell_car_remark"></div>
    <div id = "sell_car_value1"></div>
    <div id = "sell_car_value2"></div>
<div id = "sell_ship">
    <div id = "sell_ship_name">日销量</div>
    <div id = "sell_ship_remark"></div>
    <div id = "sell_ship_value1"></div>
    <div id = "sell_ship_value2"></div>
</div>



</body>
</html>