<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chorme=1" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link th:href="@{/ProjectCss/BigData/first.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/ProjectCss/BigData/layer.css}" rel="stylesheet" type="text/css" />
    <title>大数据</title>

</head>
<body id="body">
<!--new-->
<div id="bg" >


</div>
    <div id="BigData">
        <div id="first">

        </div>
        <script id="tpl1" type="text/html">
            {{each first as item index}}
                <div class="first" style="top:{{item.value_coord_y}}px">
                    {{item.value}}
                </div>
                <div class="unit" style="top:{{item.unit_coord_y}}px;left:{{item.unit_coord_x}}px" >{{item.unit}}</div>
                <div class="f_label" style="top:{{item.name_coord_y}}px">{{item.name}}</div>
            {{/each}}
        </script>
        <div id="second">
        </div>
        <script id="tpl2" type="text/html">
            {{each second as item index}}
            <div  class="second" style="top:{{item.value_coord_y}}px;left:{{item.value_coord_x}}px">
                {{item.value}}
            </div>
            {{if item.other_value}}
                <div  class="second prop" style="top:{{item.other_value_coord_y}}px;left:{{item.other_value_coord_x}}px">
                    {{item.other_value}}
                </div>
            {{/if}}
            {{/each}}
        </script>
        <div id="three">

        </div>
        <script id="tpl3" type="text/html">
            {{each three as item index}}
                <div  class="three" style="top:{{item.value_coord_y}}px">{{item.value}}</div>
                <div  class="unit" style="top:{{item.unit_coord_y}}px;left:{{item.unit_coord_x}}px">{{item.unit}}</div>
                <div   class="t_label" style="top:{{item.name_coord_y}}px">{{item.name}}</div>
                <ul   class="point" style="top:{{item.other_value_coord_y}}px">
                    {{each item.other_value.split("") as it index}}
                        {{if it==1}}<li class="point_red"></li>{{else}}<li class="point_green"></li>{{/if}}
                    {{/each}}
                </ul>
            {{/each}}
        </script>
        <div id="four">
            <div id="four_1" class="four">
                <div class="title">
                    点位概览
                </div>
                <ul id="point">

                </ul>
                <script id="tpl5" type="text/html">
                    {{each point as item index}}
                        <li><span>{{item.name}}：</span><span>{{item.value}}</span></li>
                    {{/each}}
                </script>
            </div>
            <div id="four_2" class="four">
                <div class="title">
                    变化趋势
                </div>
                <div id="charts1">

                </div>
            </div>
            <div id="four_3" class="four">
                <div class="title">
                    投料化验分析
                </div>
                <ul id="feed">

                </ul>
                <script id="tpl6" type="text/html">
                    {{each feed as item index}}
                    <li><span class="label">{{item.feed_name}}</span><span class="result">{{item.value}}</span><span class="standard">{{item.standard}}</span></li>
                    {{/each}}
                </script>
            </div>
            <div id="four_4" class="four">
                <div class="title">
                    点位相关性
                </div>
                <div id="point_char" >

                </div>
            </div>
        </div>
        <div id="five">
            <div id="five_1" class="four">
                <div class="title">
                    收率优化建议
                </div>
                <div id="threePie"></div>
            </div>
            <div id="five_2" class="four">
                <div class="title">
                    TIC101-提升管出口温度/℃
                </div>
                <div id="temChar"></div>
            </div>
            <div id="five_3" class="four">
                <div class="title">
                    收率优化历史曲线
                </div>
                <div id="three_line">

                </div>
            </div>
        </div>
        <div id="layer" class="layer">

        </div>
        <script id="tpl4" type="text/html">
            <p class="l_label">{{item.name}}</p>
            <p><span class="circle"></span><span class="l_value">{{item.value}} {{item.unit}}</span>
                {{if item.layer_status==1}}
                <i class="icon up"></i>
                {{else}}
                <i class="icon down"></i>
                {{/if}}</p>
        </script>
    </div>
</body>
<script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>
<script type="text/javascript"   th:src="@{/Scripts/echarts.min.js}"></script>
<script type="text/javascript"   th:src="@{/Scripts/ecStat.min.js}"></script>
<script type="text/javascript"   th:src="@{/Scripts/template.js}"></script>
<script type="text/javascript"   th:src="@{/Scripts/backEffect/canvas-particle.js}"></script>
<script type="text/javascript">

    // 页面跳转
    $(document).keydown(function(event){
        $.ajax({
            url: "/getTurnToPage",
            type: "get",
            async: false,
            data: {mapper: "/turnToBigData"},
            success: function (data) {
                if(event.keyCode == 39){
                    window.location.href=data[1];
                }else if(event.keyCode == 37){
                    window.location.href=data[0];
                }else if(event.keyCode == 27){
                    window.location.href="/page/menu";
                }
            }
        });
    });
</script>
<script>
    var myChart;
    var pointChart;
    var threePie;
    var temChar;
    var three_line;
    var layerNum=-1;
    $(function() {
        init();
       /* $("#BigData").on("click", function () {
            turnTo();
        });
        $("#BigData").on("dblclick", function () {
            history.go(-1);
        });*/
        var config = {
            vx: 4,
            vy: 4,
            height: 2,
            width: 2,
            count: 40,
            color: "121, 162, 185",
            stroke: "130,255,255",
            dist: 6000,
            e_dist: 20000,
            max_conn: 10
        }
        CanvasParticle(config);
    });
    //初始化
    function init(){
        getCoordData().then(setCoordData);
        myChart = echarts.init(document.getElementById('charts1'));
        pointChart = echarts.init(document.getElementById('point_char'));
        threePie = echarts.init(document.getElementById('threePie'));
        temChar = echarts.init(document.getElementById('temChar'));
        three_line=echarts.init(document.getElementById('three_line'));
        getPointList().then(setPointList);
        getFeedList().then(setFeedList);
        getCharData().then(setCharData);
        getDoubleBar().then(setPointData);
        getThreePie().then(setThreePie);
        getTemData().then(setTemChar);
        getThreeLine().then(setThreeData);



    }

</script>
<script type="text/javascript"   th:src="@{/Scripts/BigData/BigData.js}"></script>
</html>



