<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>结束页</title>

    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>


    <style type="text/css">
        #img{
            background-size: cover;
            background-repeat: no-repeat;
            height: 1024px;
            width: 5632px;
            background-image: url("../../images/home/背景2.png");
        }

        #text{
            position: absolute;
            top:204px;
            left:2041px;
            width: 1554px;
            height: 500px;
            background-image: url("../../images/home/文字.png");
        }
    </style>
    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            if(event.keyCode == 37){
                window.location.href="/turnToFutureProspect"
            }else if(event.keyCode == 13){
                window.location.href="/"
            }
        });
    </script>
</head>
<body style="margin: 0;padding: 0">
<div id = "img" ></div>
<div id = "text"></div>
</body>
</html>