<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IT基础设施</title>
    <!--外部css-->
    <link rel="stylesheet" type="text/css" th:href="@{/ProjectScripts/it/it.css}">

    <!--外部js-->
    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>
    <script type="text/javascript"   th:src="@{/Scripts/echarts.min.js}"></script>

    <style type="text/css">
        #one{height:947px;width: 1135px; margin-left: 38px;margin-top: 39px;
            background: url("../image/1135.png");float: left}
        .oneBanner{ text-align:center; height: 50px;width: 331px ;background: url("../image/331.png");margin: 0 auto;z-index: 5}
        #man{ height: 793px;width: 1078px;background: url("../image/1078.png");margin-left: 28px;margin-top: 47px}
        #Source{ width:633px;height: 460px;background:url("../image/633.png");}
       #source1{ width:539px;height: 326px;background:url("../image/APP.png");margin-left: 49px;margin-top: 26px; position: absolute}
        #warn{ width: 633px;height:460px;margin-top: 26px;background:url("../image/YY.png");}
       #char{ width: 520px;height: 310px;margin-left: 48px;margin-top: 46px;/*border: 1px solid salmon*/}
video{margin-top: -130px /* 视频在他的固定div 中进行上下活动 黑框 扔出div*/}
        #three{ height:1024px;width: 1964px; float: left;background: url("../image/1964.png");}
        #Apple{width:633px;height: 461px; /*border: 1px solid white;*/background:url("../image/633.png");}
        #info{ width:633px;height: 461px;background:url("../image/633.png");
            margin-top: 25px;position: absolute}
        #tbl{ width:481px;height: 330px;background:url("../image/table.png");margin-left: 34px;margin-top: 38px;position: absolute;top:45px}
        #Vide{ height:816px;width: 1133px ;/*margin-left:53px ;*/margin-top:28px ;background:url("../image/3dd.png") no-repeat;  background-size:1140px 816px; -moz-background-size:1140px 816px;position:relative;right: 30px;
        }
        #five{height:947px;width: 1137px; float: left;background:url("../image/1135.png");margin-top: 39px;margin-left: 26px;position: relative;z-index: 6}
        #wd{height: 154px;width: 183px;position: absolute;top:483px;left:125px;background:url("../image/wd.png");z-index: 2}
        #wd1{height: 154px;width: 183px;position: absolute;top:218px;left:415px;background:url("../image/wd.png");z-index: 2}
        #UPS{height: 208px;width: 300px;position: absolute;top:545px;left:314px;background:url("../image/UPS.png");z-index: 1}
        #bj{height: 170px;width: 237px;position: absolute;top:508px;left:627px;background:url("../image/bj.png");z-index: 1}
        .lud{height: 36px;width: 36px;position: absolute;top:20px;left:117px;background:url("../image/lud.png");z-index: 1}
        .lud1{height: 36px;width: 36px;position: absolute;top:20px;left:188px;background:url("../image/lud.png");z-index: 1}
        .lud2{height: 36px;width: 36px;position: absolute;top:56px;left:188px;background:url("../image/lud.png");z-index: 1}
        .lud3{height: 36px;width: 36px;position: absolute;top:92px;left:188px;background:url("../image/lud.png");z-index: 1}
        .lud4{height: 36px;width: 36px;position: absolute;top:125px;left:188px;background:url("../image/lud.png");z-index: 1}
        #wenduji{height: 25px;width: 25px;position: absolute;top:62px;left:27px;background:url("../image/wendu.png");z-index: 1 }
        #shuidi{height: 25px;width: 25px;position: absolute;top:98px;left:27px;background:url("../image/shui.png");z-index: 1}
        #wenduji1{height: 25px;width: 25px;position: absolute;top:62px;left:27px;background:url("../image/wendu.png");z-index: 1 }
        #shuidi1{height: 25px;width: 25px;position: absolute;top:98px;left:27px;background:url("../image/shui.png");z-index: 1}

    </style>

    <script type="text/javascript">

        // 页面跳转
        function turnTo(){
            window.location.href="/turnToERPandBI"
        }
    </script>


</head>
<body>
<!--整体div-->
<div id="body" onclick="turnTo()">
    <!--左侧第一-->
    <div id="one">
        <!--标题-->
        <div class="oneBanner">
        <span>IT基础设施架构拓扑图</span>
        </div>
        <div id="man">
            <!--内容-->
        </div>
    </div>
    <div id="two">
<!--左二-->
        <div id="Source"><!--上部-->
            <div class="oneBanner">
                <span>云计算中心资源池</span>
            </div>

            <div id="source1">
                <div id="GZ" style="position: absolute;top: 58px;left: 24px;">

                </div>
                <div id="GZ2" style="margin-left: 18px;position: absolute;top: 108px;/*left: 18px*/">

                </div>
                <div id="name" style="position: absolute;bottom: 2px;left: 42px;">

                </div>
            </div>
            </div>


        <div id="warn"><!--下部-->
            <div class="oneBanner">
                <span>告警统计</span>
            </div>
            <div id="char">

            </div>
        </div>
    </div>
<!--中间部分-->
    <div id="three"> </div>
    <!--右侧第二-->
    <div id="four">
        <div id="Apple">
            <div class="oneBanner">
                <span>总体应用流速趋势</span>
            </div>
            <div id="charzhe">

            </div>
        </div>
        <div id="info">
            <div class="oneBanner">
                <span>资产信息</span>
            </div>
            <div id="tb2">

                <table style="border-collapse: separate;border-spacing: 0px 9px;">

                    <tbody id="tbody"></tbody>
                </table>
            </div>

            <div id="tbl">

            </div>
        </div>
    </div>
    <!--视频-->
    <div id="five">
        <div class="oneBanner">
            <span>3D可视化机房</span>
        </div>
        <!--ups-->
        <div id="UPS">
            <div class="biaoti">
                <p class="ttt"> UPS </p>
            </div>
            <div id="nr">
                <p class="D3">A相输出电流：&nbsp;18.4A</p>
                <p class="D3">B相输出电流：&nbsp;7.0A</p>
                <p class="D3">C相输出电流：&nbsp;5.2A</p>
                <p class="D3">电池后备时间：&nbsp;119.0Min</p>

            </div>
        </div>
        <div id="bj">
            <div class="biaoti">
                <p class="ttt">市电停电报警</p><div class="lud1"></div>
            </div>
            <div id="nr1">
                <p class="D3">A相电压断相报警</p><div class="lud2"></div>
                <p class="D3">B相电压断相报警</p><div class="lud3"></div>
                <p class="D3">C相电压断相报警</p><div class="lud4"></div>


            </div>


        </div>
        <div id="wd">
            <div class="biaoti">
                <p class="ttt">空调状态 </p><div class="lud"></div>
            </div>
            <div id="nrwd">
                <div id="wenduji">

                </div>
                <div id="shuidi"></div>
                <p class="D3">24.3℃</p>
                <p class="D3">15.3%</p>


            </div>

        </div>
        <div id="wd1">
            <div class="biaoti">
                <p class="ttt">空调状态 </p><div class="lud"></div>
            </div>
            <div id="nrwd1">
                <div id="wenduji1">

                </div>
                <div id="shuidi1"></div>
                <p class="D3">24.3℃</p>
                <p class="D3">15.3%</p>


            </div>
        </div>
        <div id="Vide">




        </div>
        </div>
</body>
<!--<script type="text/javascript"   th:src="@{/ProjectScripts/it/it.js}"></script>-->
<script type="text/javascript"   th:src="@{/ProjectScripts/it/itecharts.js}"></script>
<script type="text/javascript"   th:src="@{/ProjectScripts/it/itecharzhe.js}"></script>
<script type="text/javascript"   th:src="@{/ProjectScripts/it/itzyzx.js}"></script>
<script type="text/javascript"   th:src="@{/ProjectScripts/it/itzcxx.js}"></script>
<script type="text/javascript"   th:src="@{/Scripts/backEffect/canvas-particle.js}"></script>
</html>