<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实验室信息管理系统</title>
    <script type="text/javascript"   th:src="@{/Scripts/jquery-3.3.1.js}"></script>

    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            $.ajax({
                url: "/getTurnToPage",
                type: "get",
                async: false,
                data: {mapper: "/turnToLab"},
                success: function (data) {
                    if(event.keyCode == 39){
                        window.location.href=data[1];
                    }else if(event.keyCode == 37){
                        window.location.href=data[0];
                    }else if(event.keyCode == 27){
                        window.location.href="/page/menu";
                    }
                }
            });
        });

        $(function () {
            getLabUrl();
        });

        function getLabUrl() {
            $.ajax({
                type: "get",
                url: "/Mes/getLabUrl",
                async: false,
                success: function (data) {
                    var url = data.value;
                    document.getElementById("IFrameId").src = url;
                },
            });
        }
    </script>


</head>
<body style="margin: 0px;padding:0px;">
<iframe id = "IFrameId" style="width: 5632px;height: 1024px" src=""></iframe>
</body>
</html>
