<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验室</title>

    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            if(event.keyCode == 39){
                window.location.href="/turnToEquipment"
            }else if(event.keyCode == 37){
                window.location.href="/turnToMes"
            }
        });
    </script>
</head>
<body>
<iframe style="width: 5632px;height: 1024px" src="http://58.57.156.167:8081/WebReport/ReportServer?formlet=%5B5927%5D%5B5c4f%5Dcs.fr"></iframe>
</body>
</html>