<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MES</title>
    <script type="text/javascript"   th:src="@{/Scripts/jquery-3.3.1.js}"></script>

    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            if(event.keyCode == 39){
                window.location.href="/turnToLab"
            }else if(event.keyCode == 37){
                window.location.href="/turnToERPandBI"
            }
        });
    </script>


</head>
<body>
<iframe id = "IFrameId" style="width: 5632px;height: 1024px" src="http://10.0.12.22:8081/WebReport/ReportServer?formlet=MES%5B5927%5D%5B5c4f%5D-%5B65b0%5D.frm"></iframe>
</body>
</html>