<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--外部css-->
    <link rel="stylesheet" type="text/css" th:href="@{/ProjectScripts/it/it.css}">
    <!--外部js-->
    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>
    <script type="text/javascript"   th:src="@{/Scripts/echarts.min.js}"></script>
    <style type="text/css">
        #all{background: url("../ProjectScripts/Number/all.png");
            width: 5632px;height: 1024px;
        }
        #vide{width: 2444px;height: 800px;
        top: 108px;left: 1575px;
            
            position:absolute;
        }
        #number{width: 2444px;height: 800px;
            position:absolute;
            
                top: 20px;left: 20px;
            }
        #body{color: transparent;z-index:99}
    </style>

    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
            if(event.keyCode == 39){
                window.location.href="/turnToBigData"
            }else if(event.keyCode == 37){
                window.location.href="/turnToIT"
            }
        });
    </script>
</head>
<body>
<div id="body">
<div id="all">
    <div id="vide">
        <video id="number" autoplay="autoplay"   loop="loop" ><!--style="width: 100%;height: 100%; object-fit: fill"-->
            <source src="../Video/number/number.MP4" ></video>
    </div>
</div>
</div>
</body>
<script type="text/javascript"   th:src="@{/ProjectScripts/ERP/ERPandBI.js}"></script>
<script type="text/javascript"   th:src="@{/ProjectScripts/ERP/ERPandBI1.js}"></script>

<script type="text/javascript"   th:src="@{/Scripts/backEffect/canvas-particle.js}"></script>
</html>