<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>

    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>


    <style type="text/css">
        #img{
            background-size: cover;
            background-repeat: no-repeat;
            height: 1024px;
            width: 5632px;
            /*background-image: url("../../images/welcome/welcome_pro.png");*/
        }
    </style>
    <script type="text/javascript">

        // 页面跳转
        $(document).keydown(function(event){
           $.ajax({
                url: "/getTurnToPage",
                type: "get",
                async: false,
                data: {mapper: "/"},
                success: function (data) {
                    if(event.keyCode == 39){
                        window.location.href=data[1];
                    }else if(event.keyCode == 37){
                        window.location.href=data[0];
                    }else if(event.keyCode == 27){
                        window.location.href="/page/menu";
                    }
                }
            });
        });

        $(function () {
            // getWelcomeBackImg();
            $.ajax({
                type: 'get',
                url: '/img/welcome',
                cache:false
            }).then(function (data) {
                if(data&&data.path){
                    $("#img").css("background-image","url("+data.path+")")
                }
            });
        });

        function getWelcomeBackImg() {
            $.ajax({
                type: "get",
                url: "/getWelcomeBackImg",
                async: false,
                success: function (data) {
                    var imgurl = data.value;
                    if(imgurl == "市委"){
                        $("#img").css("background-image","url(../../images/welcome/welcome_pro.png)")
                    }else if(imgurl == "普通"){
                        $("#img").css("background-image","url(../../images/welcome/welcome_simple.png)")
                    }else if(imgurl == "上传图片"){
                        $("#img").css("background","url('http://10.0.30.200:8080/welcome_upload.png')")
                    }
                }
            });
        }
    </script>
</head>
<body style="margin: 0;padding: 0">
<div id = img ></div>
</body>
</html>