<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>

    <script type="text/javascript"   th:src="@{/Scripts/jquery.min.js}"></script>


    <style type="text/css">
        #img{
            background-size: cover;
            background-repeat: no-repeat;
            height: 1024px;
            width: 5632px;
            background-image: url("../../images/welcome/welcome.png");
        }
    </style>
    <script type="text/javascript">





        // 页面跳转
        $(document).keydown(function(event){

            $.ajax({
                url: "/getTurnToPage",
                type: "get",
                async: false,
                data: {mapper: "/"},
                success: function (data) {

                }
            });

            // if(event.keyCode == 39){
            // window.location.href="/turnToAllLink"
            // }
        });
    </script>
</head>
<body style="margin: 0;padding: 0">
<div id = img ></div>
</body>
</html>