<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大数据</title>
    <style type="text/css">
        #img{
            height: 958px;
            width: 5266px;
            background-image: url("../../images/show/大数据.png");
        }
    </style>
    <script type="text/javascript">
        // 页面跳转
        function turnTo(){
            window.location.href="/turnToFutureProspect"
        }
    </script>
</head>
<body>
<div id = img onclick="turnTo()"></div>
</body>
</html>