<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备与安全环境管理</title>
    <style type="text/css">
        #img{
            height: 958px;
            width: 5266px;
            background-image: url("../../images/show/设备与安环.png");
        }
    </style>
    <script type="text/javascript">

        // 页面跳转
        function turnTo(){
                window.location.href="/turnToLab"
        }
    </script>
</head>
<body>
<div id = img onclick="turnTo()"></div>
</body>
</html>