<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验室信息管理系统</title>
    <style type="text/css">
        #img{
            height: 958px;
            width: 5266px;
            background-image: url("../../images/show/实验室.png");
        }
    </style>
    <script type="text/javascript">

        // 页面跳转
        function turnTo(){
            window.location.href="/turnToBigData"
        }
    </script>
</head>
<body>
<div id = img onclick="turnTo()"></div>
</body>
</html>