body{
    background-color: #081C36;
    height: 1024px;
    width: 5632px;
    font-family: 微软雅黑;
}

.content-all{
    height: 1024px;
    width: 5632px;
    background: url("../../image/ai-factory/backgroud.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.factory{
    height: 942px;
    width: 100%;
    background: url("../../image/ai-factory/backgroud-font.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1000;
    margin-top: -991px;
    position: relative;
}

.factory{
    font-size: 31px;
    color: #00fcff;
}
.ai-factroy-1{
    display: inline-block;
    height: 278.4px;
    width: 1559px;
    position: absolute;
    margin: 507px 0 0 150px;
    text-align: center;
    line-height: 96px;
}

.ai-factroy-2-1{
    line-height: 96px;
    width: 1559px;
    height: 278px;
    display: inline-block;
    position: absolute;
    margin: 415px 0 0 2104px;
    text-align: center;
}

.ai-factroy-2-2{
    line-height: 60px;
    width: 807px;
    height: 120px;
    display: inline-block;
    position: absolute;
    margin: 515px 0 0 2834px;
}

.ai-factroy-3-1{
    width: 1559px;
    height: 277px;
    display: inline-block;
    position: absolute;
    margin: 366px 0 0 4015px;
    line-height: 70px;
}

.ai-factroy-3-1 ul{
    width:98%;
}

.ai-factroy-3-1 ul li{
    list-style: disc;
    display: inline-block;
    float: left;
    height: 96px;
}

.cricle{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #00e9d0;
    border-radius: 15px;
    margin-right: 15px;
}


.line-1
{
    width: 100px;
    height: 100px;
    position:relative;
    animation:lightPoint_move 5s infinite;
    background-image: url("../../images/allLink/椭圆.png");
}

@keyframes lightPoint_move
{
    from  {top:640px;left: 190px}
    50% {top:640px;left:486px}
    100%{ top:460px;left:740px}
}