html,body{
    font-family: 微软雅黑;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.21);
}

.main-content{
    position: relative;
}

.header-section{
    background: #FFFFFF;
    height: 86px;
}

.sidebar{
    margin-top: 86px;
    float: left;
    background: #FFFFFF;
    height: 563px;
}
