<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.AiFactroyMapper">
    <resultMap id="BaseResultMap" type="com.qdjxd.wdth01.model.AiFactroy" >
        <id column="ai_factroy_id" property="aiFactroyId" jdbcType="VARCHAR" />
        <result column="ai_factroy_text" property="aiFactroyText" jdbcType="VARCHAR" />
        <result column="text_type" property="textType" jdbcType="VARCHAR" />
        <result column="text_type_explain" property="textTypeExplain" jdbcType="VARCHAR" />
        <result column="text_sort" property="textSort" jdbcType="INTEGER" />
        <result column="ai_enable" property="aiEnable" jdbcType="BIT" />
    </resultMap>

    <sql id="Base_Column_List" >
        ai_factroy_id, ai_factroy_text, text_type, text_type_explain, text_sort, ai_enable
    </sql>

    <select id="getAiFactroyText" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM
          wdth_zngc_ai_factroy WHERE ai_enable = 1 ORDER BY text_sort
    </select>
    
</mapper>