<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.ErpMapper" >
  <resultMap id="BaseResultMap" type="com.qdjxd.wdth01.model.Erp" >
    <result column="gasoline" property="gasoline" jdbcType="INTEGER" />
    <result column="diesel" property="diesel" jdbcType="INTEGER" />
    <result column="Liquidgas" property="liquidgas" jdbcType="INTEGER" />
    <result column="propane" property="propane" jdbcType="INTEGER" />
    <result column="propylene" property="propylene" jdbcType="INTEGER" />
    <result column="Petroleumcoke" property="petroleumcoke" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.qdjxd.wdth01.model.Erp" >
    insert into wdth_erp_erp (gasoline, diesel, Liquidgas, 
      propane, propylene, Petroleumcoke
      )
    values (#{gasoline,jdbcType=INTEGER}, #{diesel,jdbcType=INTEGER}, #{liquidgas,jdbcType=INTEGER}, 
      #{propane,jdbcType=INTEGER}, #{propylene,jdbcType=INTEGER}, #{petroleumcoke,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qdjxd.wdth01.model.Erp" >
    insert into wdth_erp_erp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gasoline != null" >
        gasoline,
      </if>
      <if test="diesel != null" >
        diesel,
      </if>
      <if test="liquidgas != null" >
        Liquidgas,
      </if>
      <if test="propane != null" >
        propane,
      </if>
      <if test="propylene != null" >
        propylene,
      </if>
      <if test="petroleumcoke != null" >
        Petroleumcoke,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gasoline != null" >
        #{gasoline,jdbcType=INTEGER},
      </if>
      <if test="diesel != null" >
        #{diesel,jdbcType=INTEGER},
      </if>
      <if test="liquidgas != null" >
        #{liquidgas,jdbcType=INTEGER},
      </if>
      <if test="propane != null" >
        #{propane,jdbcType=INTEGER},
      </if>
      <if test="propylene != null" >
        #{propylene,jdbcType=INTEGER},
      </if>
      <if test="petroleumcoke != null" >
        #{petroleumcoke,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="getErp" resultMap="BaseResultMap">
    select * from wdth_erp_erp
  </select>
</mapper>