<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.SystemMapper">
    <resultMap id="MenuResult" type="com.qdjxd.wdth01.common.TreeNode">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="menu_name" property="name" jdbcType="VARCHAR"></result>
        <result column="menu_path" property="path" jdbcType="VARCHAR"></result>
        <result column="parent_menu" property="parent" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getMenuList" resultMap="MenuResult">
        SELECT
            id,
            menu_name,
            menu_path,
            parent_menu
        FROM
            wdth_system_menu
        WHERE
            m_enable = 1
        ORDER BY
            m_sort
    </select>
    
    <select id="getTableList" parameterType="com.qdjxd.wdth01.common.TableOption" resultType="java.util.Map">
        SELECT
          <foreach collection="columns" item="item" separator="," >
              ${item.field}
          </foreach>
        FROM
          ${tableName}
        <where>
            <if test="wheres != null">
               <foreach collection="wheres" item="item" separator="and">
                  ${item.name} = #{item.value}
               </foreach>
            </if>
            <if test="tableName == 'wdth_xt_configer'">
                AND id != '3'
            </if>
        </where>
    </select>

    <update id="updateTableInfo" parameterType="com.qdjxd.wdth01.common.TableInfo">
        UPDATE ${name} SET ${valueCol} = #{value} WHERE ${idCol} = #{idVal}
    </update>
    
    <select id="login" resultType="com.qdjxd.wdth01.model.User" parameterType="com.qdjxd.wdth01.model.User">
        SELECT
            sheetid userid,
            user_name username
        FROM
            wdth_system_user
        WHERE
            user_name = #{username}
            AND pass_word = #{password}
            AND `is_ enabled` = 1
    </select>

    <select id="welcomeImg" resultType="java.util.HashMap">
      SELECT
        id,
        name,
        path
      FROM
        wdth_system_img WHERE type = 1
    </select>
    
    <select id="getImgList" resultType="java.util.HashMap">
      SELECT
        id,
        name,
        path,
        type
      FROM
        wdth_system_img
      WHERE
        type != 2
    </select>
    
    <insert id="insertImg" parameterType="java.util.HashMap">
        INSERT INTO wdth_system_img (id,name,path) VALUES (#{id},#{name},#{path})
    </insert>

    <update id="emptyUse">
        UPDATE wdth_system_img SET type = 0 WHERE type = 1
    </update>

    <update id="useImg" parameterType="java.lang.String">
        UPDATE wdth_system_img SET type = 1 WHERE id = #{VALUE}
    </update>

    <update id="delImg" parameterType="java.lang.String">
        UPDATE wdth_system_img SET type = 2 WHERE id = #{VALUE}
    </update>
</mapper>