<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.Wdth_tb_it_zcxxMapper" >
  <resultMap id="BaseResultMap" type="com.qdjxd.wdth01.model.Wdth_tb_it_zcxx" >
    <id column="sheetid" property="sheetid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sheetid, num, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from wdth_tb_it_zcxx
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </select>


  <!--查询-->
  <select id="selectAll" resultMap="BaseResultMap"  >
    select
  *
    from wdth_tb_it_zcxx

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wdth_tb_it_zcxx
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qdjxd.wdth01.model.Wdth_tb_it_zcxx" >
    insert into wdth_tb_it_zcxx (sheetid, num, name
      )
    values (#{sheetid,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.qdjxd.wdth01.model.Wdth_tb_it_zcxx" >
    update wdth_tb_it_zcxx
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdjxd.wdth01.model.Wdth_tb_it_zcxx" >
    update wdth_tb_it_zcxx
    set num = #{num,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
>
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </update>
</mapper>