<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.Wdth_tb_itjfMapper" >
  <resultMap id="BaseResultMap" type="com.qdjxd.wdth01.model.Wdth_tb_itjf" >
    <id column="sheetid" property="sheetid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sheetid, name, value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wdth_tb_itjf
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </select>
<!--chaxun1-->
  <select id="jf" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    *
    from wdth_tb_itjf

  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wdth_tb_itjf
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qdjxd.wdth01.model.Wdth_tb_itjf" >
    insert into wdth_tb_itjf (sheetid, name, value
      )
    values (#{sheetid,jdbcType=INTEGER}, #{name,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qdjxd.wdth01.model.Wdth_tb_itjf" >
    insert into wdth_tb_itjf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sheetid != null" >
        sheetid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sheetid != null" >
        #{sheetid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qdjxd.wdth01.model.Wdth_tb_itjf" >
    update wdth_tb_itjf
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qdjxd.wdth01.model.Wdth_tb_itjf" >
    update wdth_tb_itjf
    set name = #{name,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR}
    where sheetid = #{sheetid,jdbcType=INTEGER}
  </update>
</mapper>