<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.wdth_erp_JhzxlMapper" >
  <resultMap id="BaseResultMap" type="com.qdjxd.wdth01.model.wdth_erp_Jhzxl" >
    <id column="sheetid" property="sheetid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="DOUBLE" />
    <result column="num1" property="num1" jdbcType="DOUBLE" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />

  </resultMap>
  <select id="getJhzxl" resultMap="BaseResultMap">
    select * from wdth_erp_jhzxl
  </select>
  <insert id="insert" parameterType="com.qdjxd.wdth01.model.wdth_erp_Jhzxl" >
    insert into wdth_erp_jhzxl (jan, feb, mar, 
      apr, may, jun, july, 
      aug, sep, oct, nov, 
      dece, remarks)
    values (#{jan,jdbcType=INTEGER}, #{feb,jdbcType=INTEGER}, #{mar,jdbcType=INTEGER}, 
      #{apr,jdbcType=INTEGER}, #{may,jdbcType=INTEGER}, #{jun,jdbcType=INTEGER}, #{july,jdbcType=INTEGER}, 
      #{aug,jdbcType=INTEGER}, #{sep,jdbcType=INTEGER}, #{oct,jdbcType=INTEGER}, #{nov,jdbcType=INTEGER}, 
      #{dece,jdbcType=INTEGER}, #{remarks,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qdjxd.wdth01.model.wdth_erp_Jhzxl" >
    insert into wdth_erp_jhzxl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jan != null" >
        jan,
      </if>
      <if test="feb != null" >
        feb,
      </if>
      <if test="mar != null" >
        mar,
      </if>
      <if test="apr != null" >
        apr,
      </if>
      <if test="may != null" >
        may,
      </if>
      <if test="jun != null" >
        jun,
      </if>
      <if test="july != null" >
        july,
      </if>
      <if test="aug != null" >
        aug,
      </if>
      <if test="sep != null" >
        sep,
      </if>
      <if test="oct != null" >
        oct,
      </if>
      <if test="nov != null" >
        nov,
      </if>
      <if test="dece != null" >
        dece,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jan != null" >
        #{jan,jdbcType=INTEGER},
      </if>
      <if test="feb != null" >
        #{feb,jdbcType=INTEGER},
      </if>
      <if test="mar != null" >
        #{mar,jdbcType=INTEGER},
      </if>
      <if test="apr != null" >
        #{apr,jdbcType=INTEGER},
      </if>
      <if test="may != null" >
        #{may,jdbcType=INTEGER},
      </if>
      <if test="jun != null" >
        #{jun,jdbcType=INTEGER},
      </if>
      <if test="july != null" >
        #{july,jdbcType=INTEGER},
      </if>
      <if test="aug != null" >
        #{aug,jdbcType=INTEGER},
      </if>
      <if test="sep != null" >
        #{sep,jdbcType=INTEGER},
      </if>
      <if test="oct != null" >
        #{oct,jdbcType=INTEGER},
      </if>
      <if test="nov != null" >
        #{nov,jdbcType=INTEGER},
      </if>
      <if test="dece != null" >
        #{dece,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>