<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qdjxd.wdth01.dao.wdth_erp_YllyMapper" >
  <resultMap id="BaseResultMap" type="com.qdjxd.wdth01.model.wdth_erp_Ylly" >
    <id column="sheetid" property="sheetid" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="num1" property="num1" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getYlly" resultMap="BaseResultMap">
    select * from wdth_erp_ylly
  </select>
  <insert id="insert" parameterType="com.qdjxd.wdth01.model.wdth_erp_Ylly" >
    insert into wdth_erp_ylly (gasoline, diesel, Liquidgas, 
      propane, propylene, Petroleumcoke
      )
    values (#{gasoline,jdbcType=INTEGER}, #{diesel,jdbcType=INTEGER}, #{liquidgas,jdbcType=INTEGER}, 
      #{propane,jdbcType=INTEGER}, #{propylene,jdbcType=INTEGER}, #{petroleumcoke,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qdjxd.wdth01.model.wdth_erp_Ylly" >
    insert into wdth_erp_ylly
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gasoline != null" >
        gasoline,
      </if>
      <if test="diesel != null" >
        diesel,
      </if>
      <if test="liquidgas != null" >
        Liquidgas,
      </if>
      <if test="propane != null" >
        propane,
      </if>
      <if test="propylene != null" >
        propylene,
      </if>
      <if test="petroleumcoke != null" >
        Petroleumcoke,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gasoline != null" >
        #{gasoline,jdbcType=INTEGER},
      </if>
      <if test="diesel != null" >
        #{diesel,jdbcType=INTEGER},
      </if>
      <if test="liquidgas != null" >
        #{liquidgas,jdbcType=INTEGER},
      </if>
      <if test="propane != null" >
        #{propane,jdbcType=INTEGER},
      </if>
      <if test="propylene != null" >
        #{propylene,jdbcType=INTEGER},
      </if>
      <if test="petroleumcoke != null" >
        #{petroleumcoke,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>